/*---------common css start---------*/

body{ 
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font width: 400;
    font color: #626262;

    font-family: "Ubuntu", sans-serif;
}
/*---------common css end---------*/


/*---------header css start---------*/
header{
    padding: 30px 0;
    /* border: 1px solid; */
}
.container{
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid red; */
}
.logo{
    float: left;
    width: 12%;
    border: 1px solid black;
}
.logo a {}
.logo a img {
    display: block;
    width: 100%;
}
.menu {
    float: right;
    width: 65%;
    /* border: 1px solid red; */
}
.menu ul {
    float:right;
}
.menu ul li {
    float:left;
    list-style: none;
}
.menu ul li a {
    display: inline-block;
    margin:0 50px;
    color: #626262;
    text-decoration: none;
    text-transform:uppercase;
    border-bottom: 1px solid transparent;
}
.menu ul li a:hover{
    border-bottom: 1px solid #626262;
}

.menu ul li:last-child a{
    margin-right:0;
}
/*---------header css end---------*/
/*---------Banner  css start---------*/
.banner{}
.b_img{
    
}
.b_img img {
    width: 100%;
}
/*---------Banner  css end---------*/

/*---------Gataway css start---------*/
.getaway{}
.container2{
    margin:0 auto;
    width: 80%;
    /* border: solid 1px red; */

}
.g_content{}

.c_light{
    font-family:"Ubuntu", sans-serif;
    font: size 14px;
    font-weight: 300;
    text-transform:uppercase;
}
.c_title{}
.c_text{}

/*---------Gataway css end---------*/


